<div class="container-fluid text-center">
  <h2 class="m-2 p-2 font-weight-bold" style="color: #000000;font-size: 3.5em">Regions</h2>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <div class="as d-flex justify-content-center rounded m-2 region-holder"
             [routerLink]="['/region','asia']">
          <p class="pacific align-self-center">Asia</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="am d-flex justify-content-center rounded m-2 region-holder"
             [routerLink]="['/region','americas']">
          <p class="western align-self-center">Americas</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="eu d-flex justify-content-center rounded m-2 region-holder"
             [routerLink]="['/region','europe']">
          <p class="western align-self-center">Europe</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="af d-flex justify-content-center rounded m-2 region-holder"
             [routerLink]="['/region','africa']">
          <p class="western align-self-center">Africa</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="oc d-flex justify-content-center rounded m-2 region-holder"
             [routerLink]="['/region','oceania']">
          <p class="western align-self-center">Oceania</p>
        </div>
      </div>
    </div>

  </div>
</div>
